@import "../../_globalColor";
.blogs-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
}

.dark-mode {
    background-color: $darkBackground !important;
    color: $textColorDark;
}
.blog-title {
    margin-top: 2rem;
    text-align: center;
    color: $textColor;
  };
.blog-title_dark {
    margin-top: 2rem;
    text-align: center;
    color: $textColorDark;
  };
h1, h2, h3, h4, h5, h6 {
margin-top: 1.5rem;
}

p {
margin-top: 1rem;
}

ul, ol {
margin-top: 1rem;
padding-left: 2rem;
}

.blog-post-container {
    margin-top: 2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  
    &.dark-mode {
      background-color: #2a2a2a;
      color: #fff;
    }
  }
  
  .blog-post {
    padding: 1.5rem;
  }
